<div *ngIf="position">
  <div class="center">
    <h2>Position: Position Name</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" [class.has-error]="PositionName.invalid">
                <label for="PositionName" class="control-label">Position Name:</label>
                <input class="form-control" id="PositionName" type="text" name="PositionName" [(ngModel)]="position.PositionName" #PositionName="ngModel" required />
                <span class="help-block" *ngIf="PositionName.invalid">Position Name is Required</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" [class.has-error]="PositionDescription.invalid">
                <label for="PositionDescription" class="control-label">Description:</label>
                <textarea class="form-control" id="PositionDescription" rows="5"
                name="PositionDescription" [(ngModel)]="position.PositionDescription" #PositionDescription="ngModel" required ></textarea>
                <span class="help-block" *ngIf="PositionDescription.invalid">Position Description is required</span>
              </div>
            </div>
          </div>
          <hr />
          <a routerLink="/positions" class="btn btn-warning pull-left">Return to Position List</a>
          <input type="submit" class="btn btn-primary pull-right" value="Update Position" [disabled]="f.invalid" />
          <br />
          <br />
        </form>
      </div>
    </div>
  <br />
  <div class="alert alert-success" *ngIf="successMessage">
    <strong>Success!</strong> Position: "Position Name" was successfully saved.
  </div>
  <div class="alert alert-danger" *ngIf="failMessage">
    <strong>Error!</strong> Position: "Position Name" could not be saved.
  </div>
  </div>
  <br /><br />
</div>
